/* LOGOUT ROW */
.title-row-books {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
}

.logout-col {
  display: flex;
  align-items: center;
}

.welcome span {
  font-weight: 500;
}

.logout-btn {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  box-sizing: border-box;
  border-radius: 50%;
  background-color: none;
  margin-left: 16px;
  cursor: pointer;
}

.title-row-books .title::before {
  content: url(../../assets/img/logo-black.png);
  padding-top: 10px;
  padding-right: 16px;
}

/* BACKGROUND PAGE */

.books {
  padding: 0 75px;
  width: auto;
  height: 100vh;
  background-image: url(../../assets/img/1st\ Background.png);
  background-repeat: no-repeat;
  background-size: 100vw;
}

/* BOOKS LIST  */
.books-row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}

.book-card {
  margin-right: 16px;
  display: flex;
  min-width: 272px;
  max-width: 272px;
  width: 100%;
  min-height: 160px;
  height: auto;
  background: #fff;
  box-shadow: 0px 6px 24px rgba(84, 16, 95, 0.13);
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 19px 32px 19px 16px;
}

.book-img,
.book-img img {
  background: #fff;
  filter: drop-shadow(0px 6px 9px rgba(0, 0, 0, 0.15));
  width: 81px;
  height: 122px;
  margin-right: 16px;
}

.book-info h1 {
  margin: 16px 0 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.author {
  font-size: 12px;
  line-height: 20px;
  color: #ab2680;
}

.sub-infos {
  font-size: 12px;
  line-height: 20px;

  color: #999999;
}

.sub-infos:first-child {
  margin-top: 25px;
}

/* mobile */
@media screen and (max-width: 768px) {
  .books {
    padding: 0;
  }
  .welcome {
    display: none;
  }

  .books-row {
    justify-content: center;
  }

  .title-row-books {
    justify-content: space-around;
  }

  .book-card {
    margin: 0 12px 16px 12px;
  }
}
